.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #212529;
  /* font-size: 20px; */
  background: url(/src/clouds.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.weather-container {
  border-radius: 30px;
  background-color: #d0cfd9;
  width: 45%;
  margin-bottom: 20px;
  padding: 25px;
}

.weather-footer {
  font-size: 16px;
  background-color: #d0cfd9;
  padding: 10px 25px;
  color: #000;
  border-radius: 30px;
  font-family: "PT Mono", monospace;
}

.weather-footer a {
  text-decoration: none;
}
