.weather-summary {
  display: flex;
  align-items: center;
}
.col-3 {
  width: 25%;
  /* background-color: yellowgreen; */
}
.col-4 {
  width: 33.3%;
  /* background-color: blueviolet; */
}
.col-5 {
  width: 41.6%;
  /* background-color: aqua; */
}
li {
  list-style: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-weight: 400;
  font-size: 25px;
}