.weather-summary {
  text-align: left;
}
.conditions-icons-card {
  align-items: center;
}
.icon-temp-card {
  padding: 0;
}
.icon-card {
  padding: 0;
  text-align: right;
}
.temp-card {
  text-align: left;
  padding: 0;
}
.temp-unit {
  /* display: inline; */
  vertical-align: super;
  font-size: 40%;
  font-weight: 300;
  /* position: relative; */
  /* left: -20px; */
}
.conditions-card {
  text-align: right;
  padding: 0 50px 0 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-weight: 400;
  font-size: 25px;
}
strong {
  font-size: 80px;
  /* opacity: .7; */
  margin: 0;
}
p {
  text-transform: capitalize;
}
.loader {
  display: flex;
  justify-content: center;
}

li {
  color: #000;
}
li.description {
  text-transform: capitalize;
}
img {
  vertical-align: middle;
  width: 150px;
}
hr {
  margin-bottom: 30px;
  border-top: #000 solid 2px;
}

/* Search Engine Styling */
.SearchEngine {
  text-align: left;
}
form {
  display: flex;
  gap: 10px;
}
input {
  width: 70%;
  border: none;
}
button {
  width: 30%;
  background-color: #5F5F8B;
  color: #fff;
  border: none;
}
button,
input {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
}
button:hover {
  cursor: pointer;
  background-color: #7a7ab1;
}
input:focus {
  outline: #5F5F8B solid 3px;
}